*~
*.a
*.def
*.depend
*.diff
*.dll*
*.dylib
*.exe
*.lib
*.o
*.orig
*.patch
*.pc
*.rej
*.so*
*.swp
.depend
.DS_Store
config.*
boxdumper
muxer
remuxer
timelineeditor
*.264
*.3gp
*.3g2
*.ac3
*.aac
*.adts
*.als
*.eac3
*.f4v
*.h264
*.m4a
*.m4v
*.mov
*.mp1
*.mp2
*.mp3
*.mp4
*.qt
*.txt
*.vc1
Debug/
CLIDebug/
Release/
CLIRelease/
*.sdf
*.opensdf
